.title-h1-light {
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  color: rgb(34, 34, 34);
}
.title-fz16-light {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(34, 34, 34);
}
.title-fz14-light {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(34, 34, 34);
}
.title-fz14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: rgb(34, 34, 34);
}
.title-fz15 {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  color: rgb(34, 34, 34);
}
.title-fz12-light {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(34, 34, 34);
}