:root {
  --light-gray: rgb(246, 246, 246);
  --gray: rgb(234, 234, 234); 
  --dark-gray: rgb(221, 221, 221);
  --gray-shadow: rgba(0, 0, 0, 0.16);
  --text-gray: rgb(140, 140, 140);

  --light-blue: #d9ebff;
  --blue-hover-text: rgb(63, 133, 208);
  --blue: rgb(0, 122, 255);


  --white: #FFFFFF;

  --very-light-green: rgb(221, 243, 233);
  --light-green: rgb(172 230 205);
  --green: rgb(51, 178, 125);
  --green-hover: rgb(30, 144, 96);

  --svg-green: rgb(46, 162, 114);
  --svg-gray: rgb(140, 140, 140);
}